/******************
*   GENERAL
******************/

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#bg {
    background: linear-gradient(to left, #e74c3c , #FFB88C);
}

nav {
    width: 100%;
    padding: 0px;
    margin-bottom: 3vh;
    background-color: rgba(94, 94, 94, 0.90);
}
nav ul {
    display: inline-block;
    width: 90vw;
    padding: 0vh 5vw;
    margin: 10px 0px;
}
nav li {
    display: inline-block;
}
 
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width: 100%;
    text-align: center;
    color: #4d4d4d;
}

form {
    margin: 0 auto;
    padding: 36px 9vw 10px;
}
form input[type] {
    width: 41vw;
    height: 25px;
    margin: 5px 0px;
    border-radius: 4px;
    text-align: center;
    color: #4d4d4d;
    font-size: 15px;
}

form input[type='submit'] {
    width: 42vw;
    height: 35px;
    margin: 5px 0px;
    border: none;
    color: #fff;
    background-color: #e74c3c;
}

form input[type="checkbox"] {
    width: 3vw;
    margin: 0vh 4vw;
}

a {
    text-decoration: none;
}

span {
    color: #e74c3c;
}

#logo {
    float: left;
}
#logo a img {
    width: 35px;
}
#links {
    float: right;
    padding-top: 15px;
}
#links li {
    padding: 0vh 1vw;
}
#links a {
    color: #fff;
}

.alert-danger {
    width: 60%;
    padding: 1px 0px;
    margin: 3vh 20vw;
    text-align: center;
    color: #7e2920;
    background-color: rgba(217, 115, 104, 0.75);
}
.alert-success {
    width: 60%;
    padding: 5px 0px;
    margin: 3vh 20vw;
    text-align: center;
    color: #39571b;
    background-color: rgba(144, 178, 109, 0.75);
}

#no-scroll{
    margin: 5% 0;
    overflow: hidden;
}

/******************
*   INDEX
******************/

.bg-img {
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,1)),
                 url('../img/bg-landing.jpg') center no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.title {
    margin: 0vh 20vw;
    text-align: center;
    color: #fff;
}
.title h2 {
    font-size: 20px;
    color: #c3c3c3;
}
.title h1 img {
    width: 25px;
}

.login-bloc {
    width: 60%;
    height: 50%;
    margin: 20px auto;
    color: #fff;
    background-color: rgba(207, 207, 207, 0.15);
}
.login-bloc form {
    margin: 0 auto;
    padding: 36px 9vw 10px;
}

#remember {
    width: 100%;
    height: 18px;
    text-align: center;
}
#remember input[type='checkbox'] {
    width: 25px;
    height: 15px;
}

.detail {
    text-align: center;
}
.detail p {
    margin: 10px;
}
.detail a {
    font-size: 13px;
    color:#fff;
}

/******************
*   REGISTER PAGE
******************/

.register-bloc {
    width: 60%;
    height: 265px;
    margin: 20px auto;
    color: #fff;
    background-color: rgba(207, 207, 207, 0.15);
}
.register-bloc form {
    margin: 0 auto;
    padding: 10px 9vw;
}

/******************
*   ACCOUNT PAGE
******************/

.alert-successNav {
    text-align: center;
    color: #008000;
}

.alert-dangersNav {
    text-align: center;
    color: #ff0000;
}

#snap {
    display: inline;
    margin: 0vh 2vw;
}

#webcam, #canvas, #importImg {
    width: 40vw;
}

#importImg {
    display: inline-block;
    height: 47vh;
    border: 2px dotted #fbdcd8;
    padding: 0;
    margin: 0;
}
#importImg p {
    display: block;
    text-align: center;
    margin: 20vh 0vw 10px;
    color: #cecece;
}
#importImg input[type='file'] {
    display: block;
    margin: 0 auto;
    font-size: 13px;
    width: 50%;
}

#importImg input[type='submit'] {
    display: block;
    width: 6vw;
    height: 30px;
    margin: 5px auto;    
}

#take {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    border-radius: 25px;
    margin: -5vh 20vw;
    outline: none;
    visibility: hidden;
}
#take img {
    width: 20px;
    height: 18px;
}

#canvas {
    position: absolute;
    left: 0;
    margin: 0vh 2vw;
}
#closeIcon {
    position: absolute;
    width: 3vw;
    left: 0;
    margin: 1vh 3vw;
    z-index: 1;
}
#saveIcon {
    position: absolute;
    width: 3vw;
    left: 35vw;
    margin: 1vh 3vw;
    z-index: 1;
}

#sidebar-title {
    position: absolute;
    display: inline-flex;
    width: 50vw;
    background-color: #f4f4f4;
}
#sidebar-title h2 {
    width: 59vw;
    margin: 2vh 0px;
    text-align: center;
    color: #e74c3c;
}

#sidebar {
    display: inline-block;
    position: absolute;
    width: 50vw;
    height: 58%;
    margin: 48px 0 0;
    overflow: scroll;
    background-color: rgba(235, 235, 235, 0.55);
}

#mini-pictures {
    margin: 4vh 15px;
}

.miniature {
    width: 14vw;
    height: 22vh;
    padding: 10px;
    position: relative;
}

.mini-icon {
    width: 1.5vw;
    position: absolute;
}
.delete-mini {
    margin: 3% 0 0 -6%;
    width: 1vw;
}
.like-mini {
    margin: 19% 0% 0% -29%;
}
.comment-mini {
    margin: 19% 0% 0% -19%;
}

#mini-pictures p {
    text-align: center;
    margin: 8vw 0 0;
    color: #a0a0a0;
}
#mini-pictures span {
    position: absolute;
    color: #c3c3c3;
    font-size: 1.5vw;
}
#mini-pictures span.nbLikes {
    margin: 19% 0 0 -25%;
}
#mini-pictures span.nbComments {
    margin: 19% 0% 0% -15%;
}

#mini-pictures .actions {
    display: inline;
    visibility: hidden;
}
#mini-pictures .miniature:hover + .actions, #mini-pictures .actions:hover {
    visibility: visible;
}

#object {
    position: absolute;
    width: 40vw;
    margin: 5vh 2vw;
}

#object ul {
    margin: 2vh 3vw;
    padding: 0;
}
.imagePng {
    display: inline-block;
    border: 2px solid #dfdfdf;
    border-radius: 10px;
}
.imagePng:hover {
    border: 2px solid #e74c3c;
}
.imagePng img {
    width: 5vw;
    height: 10vh;
}

/******************
*   GALLERY PAGE
******************/

#gallery {
    margin: 0 15px;
}

#gallery #search {
    margin: 0 40vw;
    padding: 0; 
}
#gallery #search [type='text'] {
    width: 10vw;
    font-size: 13px;
}
#gallery #search [type='submit'] {
    height: 30px;
    width: 5vw;
    font-size: 13px;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
    color: #fff;
    background-color: rgba(231, 76, 60, 0);
}

#gallery .cadre {
    display: inline-block;
    margin: 1vh auto;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #fff;
}

#gallery .cadre p {
    text-align: center;
    margin: 0 0 10px;
    color: #e74c3c;
}

#gallery .cadre .actions {
    position: absolute;
    width: 16vw;
}
#gallery .cadre .actions .delete-mini {
    margin: -70% 0 0 80%;
}
#gallery .cadre .actions .like-mini {
    margin: 0 0 0 10%;
}
#gallery .cadre .actions span.nbLikes {
    margin: 0 0 0 23%;
    color: #9e9e9e;
}
#gallery .cadre .actions .comment-mini {
    margin: 0 0 0 42%;
}
#gallery .cadre .actions span.nbComments {
    margin: 0 0 0 55%;
    color: #9e9e9e;
}

#pagination {
    text-align: center;
    margin: 1vh 0;
}
#pagination p {
    display: inline-block;
}
#pagination .numbers a, #pagination .numSelected {
    margin: 0 1vw;
    font-size: 2em;
    color: #6c605e;
}
#pagination .numbers:hover a, #pagination .numSelected {
    color: #e74c3c;
}
#pagination .numSelected {
    display: inline-block;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
}

#modal {
    width: 90vw;
    height: 80vh;
    margin: 10vh 5vw;
    background-color: #fff;
    border-radius: 10px; 
    cursor: auto;
}

#modal img {
    width: 55vw;
    height: 80vh;
}

#modal #info {
    display: inline-block;
    position: absolute;
    margin: 2vh 0vw;
}

#head {
    margin: 0 3vw;
}
#author {
    color: #e74c3c;
    font-size: 20px;
}

.alert-successModal {
    position: absolute;
    right: 10vw;
    top: 30vh;
    color: #008000;
    z-index: 3;
}

#act {
    margin: 17vh 0 0 0;
}
#act img {
    width: 3vw;
    height: 4vh;
}
#act span {
    color: #c3c3c3;
}

#act .like-mini, #act .comment-mini {
    margin: 0 1vw;
}

#info hr {
    margin: 2vh 0 0 0;
    border-color: rgba(231, 76, 60, 0.2);
}

#modal #info #comments {
    width: 29vw;
    height: 30vh;
    padding: 2vh 3vw;
    background-color: rgba(244, 233, 217, 0.4);
}

#comments .deleteCom-mini {
    display: inline-block;
    width: 2vw;
    height: 3vh;
    margin: 0 0 0 20vw;
}

span.writer {
    margin-right: 10px;
    font-size: 17px;
}
p.words {
    color: #000000;
    margin: 7px 0;
}

.date {
    color: #a6a6a6;
    font-size: 13px;
    margin: 7px 0;
}

#send-comment {
    padding: 0 0 0 5px;
}

#send-comment input[type='text'] {
    width: 25vw;
    height: 5vh;
    font-size: 13px;
    padding: 0 10px;
    text-align: left;
    border: 1px solid #d1d1d1;
}
#send-comment button[type='submit'] {
    width: 7vw;
    height: 5vh;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(231, 100, 87, 0.8);
}

 /******************
 *   SETTINGS PAGE
 ******************/

#settings {
    text-align: center;
    color: #403f3f;
    padding: 0vh 20vw;
}

form #receivedMail {
    display: inline-block;
    width: 2vw;
    height: 4vh;
    border-radius: 10px;
}

#receivedMail input {
    width: 5vw;
}

input[type='submit']:hover {
    background-color: #e74c3cb8;
}

form input.btnActivate {
    background-color: transparent;
    border: 2px solid #e2e2e2b0;
}

/******************
*   MOBILE
******************/


@media screen and (min-width: 0px) and (max-width: 1100px) {
    
    footer {
        position: relative;
    }

    /******************
    *   ACCOUNT PAGE
    ******************/

    #snap, #object, #sidebar-title, #sidebar {
        display: flex;
        justify-content: center;
        position: relative;
    }

    #snap {
        width: 100%;
        height: 45%;
        margin: 0 0 3vh 0;
    }

    #importImg {
        width: 90%;
    }
    #webcam {
        width: 100%;
    }
    #canvas {
        width: 90%;
        height: 100%;
        margin: 0vh 5vw;
    }
    #take {
        margin: 0;
        top: 90%;
    }
    #closeIcon, #saveIcon {
        width: 7vw;
        left: 8%;
        top: 2%;
        margin: 0;
    }
    #saveIcon {
        left: 85%;
    }


    #object {
        width: 92%;
        margin: 0 3vw;
    }
    .imagePng img {
        width: 10vw;
        height: 7vh;
    }

    #sidebar-title, #sidebar {
        margin: 0 5vw 0 5vw;
        width: 90%;
    }

    #sidebar {
        display: inline-block;
        margin-bottom: 1vh;
    }
    #mini-pictures {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    #mini-pictures .miniature {
        width: 25%;
        height: 16vh;
    }

    .mini-icon {
        width: 4%;

    }
    #mini-pictures .actions .delete-mini {
        margin: 3vh 0 0 -5vw;
        width: 2vw;
    }
    #mini-pictures .actions .like-mini {
        margin: 13vh 0 0 -22vw;
    }
    #mini-pictures .actions .comment-mini {
        margin: 13vh 0% 0% -10vw;
    }
    #mini-pictures span.nbLikes {
        margin: 13vh 0 0 -17vw;
        font-size: 25px;
    }
    #mini-pictures span.nbComments {
        margin: 13vh 0% 0% -5vw;
        font-size: 25px;
    }

    /******************
    *   GALLERY PAGE
    ******************/

    .alert-successModal, .alert-dangerModal {
        position: fixed;
        left: 30px;
        top: 8px;
        text-align: center;
    }

    #gallery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #gallery #search {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #gallery #search [type='text'] {
        width: 20%;
        margin: 0 1vw;
    }

    #gallery #search [type='submit'] {
        width: 70px;
    }

    #gallery .cadre .miniature {
        width: 24vw;
        height: 22vw;
    }

    #gallery .cadre p {
        font-size: 2vw;
    }

    #gallery .cadre .actions {
        display: inline-flex;
    }

    #gallery .cadre .actions .mini-icon {
        width: 25%;
    }

    #gallery .cadre .actions .delete-mini {
        margin: -23vw 0 0 22vw;
        width: 15%;
    }

    #gallery .cadre .actions .like-mini {
        margin: -1vh 0 0 3vw;
    }

    #gallery .cadre .actions .comment-mini {
        margin: -1vh 0 0 19vw;
    }

    #gallery .cadre .actions span.nbLikes {
        margin: -3px 0 0 7.5vw;
        font-size: 3vw;
    }
    #gallery .cadre .actions span.nbComments {
        margin: -3px 0 0 14.5vw;
        font-size: 3vw;
    }


    #overlay #modal {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        height: 80vh;
    }

    #modal #info {
        position: relative;
    }

    #modal img {
        width: 90vw;
        height: 80vh;
    }

    #act {
        margin: 3vh 0 0 0;
    }
    #act img {
        width: 5vw;
        height: 3vw;
    }

    #modal #info #comments {
        width: 84vw;
        height: 30vh;
    }
    
    #modal #comments #empty {
        text-align: center;
        color: #aaa;
    }

    #comments .deleteCom-mini {
        width: 5vw;
        height: 3vw;
        margin: 0 0 0 57vw;
    }

    #send-comment input[type='text'] {
        width: 65vw;
    }

    #send-comment button[type='submit'] {
        width: 15vw;
    }

     /******************
     *   SETTINGS PAGE
     ******************/

    #receivedMail input {
        width: 10vw;
        margin: 3vh 18vw;
    }
}





